<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
      <dict>
        <key>PrivacyAccessedAPIType</key>
        <string>Camera</string>
        <key>PrivacyAccessedAPIReasons</key>
        <array>
          <string>App Functionality</string>
        </array>
      </dict>
      <dict>
        <key>PrivacyAccessedAPIType</key>
        <string>PhotoLibrary</string>
        <key>PrivacyAccessedAPIReasons</key>
        <array>
          <string>App Functionality</string>
        </array>
      </dict>
    </array>
    
    <key>NSPrivacyThirdPartySDKs</key>
    <array>
      <!-- FirebaseCore SDK -->
      <dict>
        <key>NSPrivacyThirdPartySDKName</key>
        <string>FirebaseCore</string>
        <key>NSPrivacyThirdPartySDKPurpose</key>
        <array>
          <string>Analytics</string>
          <string>Crash Reporting</string>
        </array>
      </dict>

      <!-- image_picker_ios SDK -->
      <dict>
        <key>NSPrivacyThirdPartySDKName</key>
        <string>image_picker_ios</string>
        <key>NSPrivacyThirdPartySDKPurpose</key>
        <array>
          <string>Photo Selection</string>
          <string>Media Upload</string>
        </array>
      </dict>

      <!-- nanopb SDK (used internally by Firebase) -->
      <dict>
        <key>NSPrivacyThirdPartySDKName</key>
        <string>nanopb</string>
        <key>NSPrivacyThirdPartySDKPurpose</key>
        <array>
          <string>Data Encoding</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
