<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
      <!-- Camera Usage -->
      <dict>
        <key>NSPrivacyAccessedAPIType</key>
        <string>NSPrivacyAccessedAPITypeCamera</string>
        <key>NSPrivacyAccessedReason</key>
        <string>Used for scanning QR codes and picking images</string>
      </dict>

      <!-- Photo Library -->
      <dict>
        <key>NSPrivacyAccessedAPIType</key>
        <string>NSPrivacyAccessedAPITypePhotoLibrary</string>
        <key>NSPrivacyAccessedReason</key>
        <string>Allows users to upload images</string>
      </dict>

      <!-- Internet Access -->
      <dict>
        <key>NSPrivacyAccessedAPIType</key>
        <string>NSPrivacyAccessedAPITypeNetworking</string>
        <key>NSPrivacyAccessedReason</key>
        <string>Used for API calls to communicate with the server</string>
      </dict>
    </array>
  </dict>
</plist>
